/* src/app/shared/components/nav/nav.component.scss */

.figma-navbar {
  background-color: #02A28F;
  height: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

  position: sticky;
  top: 0;
  z-index: 1050;

  margin: 0;
}


.figma-navbar .navbar-brand {
  color: #fff !important;
  font-size: 20px;
}

.figma-navbar .nav-link {
  color: rgba(255, 255, 255, 0.95) !important;
  font-weight: 500;
}

.figma-navbar .nav-link:hover {
  opacity: 0.85;
}

.figma-navbar .nav-link.active {
  text-decoration: underline;
  text-underline-offset: 6px;
}
