<!-- src/app/shared/components/nav/nav.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark figma-navbar">
  <div class="container">

    <!-- Brand / Logo -->
    <a class="navbar-brand fw-bold" routerLink="/articles">
      La plume digitale
    </a>

    <!-- Burger -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-3">

        <!-- PUBLIC -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/articles" routerLinkActive="active">
            Articles
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/categories" routerLinkActive="active">
            Catégories
          </a>
        </li>

        <!-- 🔒 EMPLOYEE / ADMIN -->
        @if (authService.isAuthenticated()) {
        <li class="nav-item" *appHasRole="['EMPLOYEE','ADMIN']">
          <a class="nav-link" routerLink="/articles/creer" routerLinkActive="active">
            Créer un article
          </a>
        </li>
        }

        @if (authService.getRole() === 'ADMIN') {
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories/create-category" routerLinkActive="active">
            Créer une catégorie
          </a>
        </li>
        }

        <!-- 👤 PROFIL -->
        @if (authService.isAuthenticated()) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/profil" routerLinkActive="active">
            Profil
          </a>
        </li>
        }

        <!-- ADMIN -->
        <li class="nav-item" *ngIf="authService.getRole() === 'ADMIN'">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Admin
          </a>
        </li>

        <!-- 🔐 CONNEXION -->
        @if (!authService.isAuthenticated()) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            Connexion
          </a>
        </li>
        }

        <!-- 🚪 DÉCONNEXION -->
        @if (authService.isAuthenticated()) {
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout($event)">
            Déconnexion
          </a>
        </li>
        }

      </ul>
    </div>
  </div>
</nav>